<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pat'appart</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/home">Accueil</a>
    <button mat-button [matMenuTriggerFor]="belowMenu" *ngIf="this.authService.isAuthenticated()">Locations</button>
    <mat-menu #belowMenu="matMenu" xPosition="after">
      <button mat-menu-item><span routerLink="/locations"> Rechercher un hébergement</span></button>
      <button mat-menu-item>Proposer une offre</button>
    </mat-menu>
    <a mat-button routerLink="/" *ngIf="this.authService.isAuthenticated()">Petsitters</a>
    <a mat-button routerLink="/inscription" *ngIf="!this.authService.isAuthenticated()">Inscription</a>
    <a mat-button routerLink="/connexion" *ngIf="!this.authService.isAuthenticated()">Connexion</a>
    <a mat-button routerLink="/compte" *ngIf="this.authService.isAuthenticated()">Compte</a>
    <a mat-button (click)="deconnexion()" *ngIf="this.authService.isAuthenticated()">Déconnexion</a>
    <a mat-button routerLink="/">Contact</a>
  </mat-toolbar-row>
</mat-toolbar>
