.title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.main-title {
  font-family: "Archivo Black";
}
.container {
  margin: 0 auto;
}
.mat-card {
  max-width: 400px;
}
.flex-me {
  display: inline-flex;
  flex-flow: row wrap;
  margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
