<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Editer mon profil">
    <form class="edit-profil-form container" [formGroup]="profilEditForm" (ngSubmit)="editProfil()">
      <mat-form-field class="example-full-width">
        <mat-label>Login</mat-label>
        <input matInput  placeholder="Mon login" name="login" formControlName="login">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Mon mot de passe" name="mot_de_passe" formControlName="mot_de_passe">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Mon email" name="email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Date de naissance</mat-label>
        <textarea matInput placeholder="Votre date de naissance" name="date_de_naissance" formControlName="date_de_naissance"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Une petite description de votre personne" name="description" formControlName="description"></textarea>
      </mat-form-field>
      <br/>
      <button class="button-width" mat-raised-button color="primary">Editer</button>
    </form>
    <div class="return">
      <button routerLink="/compte" class="button-return" mat-raised-button color="accent">Retour</button>
    </div>
  </mat-tab>
</mat-tab-group>
